body {
	background-color: #F3F1F3;
	font-size: 11px;
	color: #777777;
	font-family: 'Verdana';
	margin:0;
}

body p {
	line-height: 1.5em;
}

/* wrapper and header styling */

.wrapper {
	max-width: 942px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}

.wrapper h2, h3 {
	font-family: 'Arial';
	color:#333333;
	font-weight: normal;

}

.wrapper h2 {
	font-size: 40px;
}

.wrapper h3 {
	font-size: 16px;
}


#header {
	background-color: #E6E6E6;
	/*height:324px;*/
	padding-top:40px;
	width:100%;
	float:left;
	border-bottom: 20px solid #E6E6E6;
}

#header img {
	width: 37.04883227%;
}

#title-line {
	margin-left: 7.85562632%;
	width: 55.09554140%;
}

#title-line img {
	width:  192px !important;
	/*width: 0.3699421965317919%;*/
}

/*.title-line {
	padding: 27px 0 20px 74px;
	width:45%;
	width:519px;
	float:fright;
	margin:0;
}

#signup_img {
	padding-left: 74px;
}*/


.container-box {
	height: 174px;
	float:left;
	background-color: white;

}





	.container-box {
		width: 25.79617834%;
		padding: 3.18471337%;
		margin-right: 1.69851380%;

	}

	.container-box h3 {
		width: 72.42798353%;
		float:right;
		margin:0;
		padding:0 0 0 02.05761316%;
	}

	.container-box p {
		width:86%;
		margin:20px 0 0 0;
	}

	.container-box img {
		width: 25.51440329%;
	}


	#container_box_wrapper :last-child {
		margin: 0;
	}






@media screen and (max-width: 870px) {
	.container-box {
		width: 43.67816091%;
		padding: 25px 2.29885057%;
		margin: 10px .862068965%;

	}
	
	.container-box h3 {
		width: 78.42105263%;
		float:right;
		margin:0;
		padding:10px 0 0 5.26315789%;
	}



	.container-box img {
		width: 16.31578947%;
		padding-top:10px;
	}

	#container_box_wrapper :last-child {
		margin: 10px .862068965%;
	}

	.container-box p {
		width:86%;
		margin:20px 0 0 0;
		padding-top: 15px;
	}

	#header {
		border-bottom: 10px solid #E6E6E6;
	}


	.wrapper h2 {
		font-size: 36px;
	}
}

@media screen and (max-width: 760px) {
	.wrapper h2 {
		padding-bottom: 0;
		margin-bottom: 10px;
		font-size: 28px;
	}
}

@media screen and (max-width: 580px) {

	#header {
		text-align: center;
	}

	#header img {
		margin: 0 auto;
		float:none;
		width: 90%;
	}


	.container-box {
		width: 86.20689655%;
		padding: 25px 3.44827586%;
		margin: 10px 3.44827586%;

	}
	#title-line{
		width:90%;
		margin: 15px 5%;
	}
	#title-line img {
		margin: 0 auto;
		float:none;
	}
	
	.container-box h3 {
		width: 79.6%;
		float:right;
		margin:0;
		padding:10px 0 0 8%;
	}



	.container-box img {
		width: 12.4%;
		padding-top:10px;
	}

	#container_box_wrapper :last-child {
		margin: 10px 3.44827586%;
	}

	.container-box p {
		width:86%;
		margin:20px 0 0 0;
		padding-top: 15px;
	}

}





/* utility classes */

.fleft {
	float:left;
}

.fright {
	float:right;
}

.margin-none  {
	margin:0 !important;
}

.clear {
	clear:both;
}

#container_box_wrapper {
	top: -20px;
}

#description {
	font-size: 12px !important;
	color: #202020 !important;
}

#description p {
	width:80%;
}


.two-thirds {
	width:45%;
	padding: 0 11% 0 0;
	float:left;


}

#middle_content {
	left: 5% !important;
}


.one-third {
	width:33%;
	float:left;

}

#testimonial {
	font-family: 'Arial';
	font-size: 12px !important;
	color: #202020 !important;
	margin-top: 40px;
}

#testimonial p {
	font-style: italic;
}

#footer {
	background-color: #FF762D;
	color:white;
	/*float:left;*/
	width:100%;
	height:500px;
	padding-top:40px;
}

#footer .wrapper {

	left: 5%
}

#footer img {
	padding-left:22%;
}

#footer h3 {
	color:white !important;
	padding:20px 22%;
	margin:0;
}

#footer ul {
	list-style: none;
	padding:0;
	margin:0;
	float:left;
	width:25%;
}

#footer li {
	padding:0;
	margin:0;
}

.link-container {
	width: 66%;
	border-right: 1px solid white;
	float:left;
}