body {
	background-color: #F3F1F3;
	font-size: 11px;
	color: #777777;
	font-family: 'Verdana';
	margin:0;
}

body p {
	line-height: 1.5em;
}

/* wrapper and header styling */

.wrapper {
	max-width: 942px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}

.wrapper h2, h3 {
	font-family: 'Arial';
	color:#333333;
	font-weight: normal;

}

.wrapper h2 {
	font-size: 40px;
}

.wrapper h3 {
	font-size: 16px;
}


#header {
	background-color: #E6E6E6;
	height:324px;
	padding-top:40px;
	width:100%;
	/*float:left;*/
}

.title-line {
	padding: 27px 0 20px 74px;
	width:45%;
	/*width:519px;*/
	float:left;
	margin:0;
}

#signup_img {
	padding-left: 74px;
}

.container-box {
	width: 243px;
	height: 174px;
	float:left;
	background-color: white;
	padding:30px;
	margin-right: 16px;
}

.container-box h3 {
	width:175px;
	float:right;
	margin:0;
	padding:0 0 0 5px;
}

.container-box p {
	width:66%;
	margin:20px 0 0 0;
}

/* utility classes */

.fleft {
	float:left;
}

.margin-none  {
	margin:0 !important;
}

.clear {
	clear:both;
}

#container_box_wrapper {
	margin-top: -20px;
}

#description {
	font-size: 12px !important;
	color: #202020 !important;
}

#description p {
	width:80%;
}


.two-thirds {
	width:45%;
	padding: 0 11% 0 0;
	float:left;


}

#middle_content {
	left: 5% !important;
}


.one-third {
	width:33%;
	float:left;

}

#testimonial {
	font-family: 'Arial';
	font-size: 12px !important;
	color: #202020 !important;
	margin-top: 40px;
}

#testimonial p {
	font-style: italic;
}

#footer {
	background-color: #FF762D;
	color:white;
	/*float:left;*/
	width:100%;
	height:500px;
	padding-top:40px;
}

#footer .wrapper {

	left: 5%
}

#footer img {
	padding-left:22%;
}

#footer h3 {
	color:white !important;
	padding:20px 22%;
	margin:0;
}

#footer ul {
	list-style: none;
	padding:0;
	margin:0;
	float:left;
	width:25%;
}

#footer li {
	padding:0;
	margin:0;
}

.link-container {
	width: 66%;
	border-right: 1px solid white;
	float:left;
}